







*{
    margin:0;
    padding:0;
    
  
    
    
}


  

  .navbar-container {
    display:flex;
    list-style-type: none;
    
     
  
  }
/*
  li a {
    display: flex;
    justify-content: center;
    color: white;
    background-color:blue;
    width: 176px;
    padding: 20px 10px;
    text-decoration: none;
   margin-right: 5px;
  
  }
  
  li a:hover {
    background-color:black;

  }
   .first_list
  {
    display:none;
  } 
  .initial :hover{
    display: block;
  }

  div:hover ul li {
    display: block;
  }
  a {
    text-decoration:none; 
    }
    
    


*/

ul {
  display:flex;
  list-style:none;
  margin:0; 
  padding:0;
  }
  ul li a {

    display: flex;
    justify-content: center;
    color: white;
    background-color:blue;
    width: 176px;
    padding: 20px 10px;
    text-decoration: none;
   margin-right: 5px;
  }
  
  li:hover ul {
  position:absolute;
  display:block;
  }
  
  li a:hover {
    background-color:black;

  }
  
  a {
  text-decoration:none; 
  }
  
  .dropdown {
  display:none; 
  }
  .dropdown li a:hover {
  background-color:#CCCCCC; 
  color:#000000; 
  }
