*{
    margin:0;
    padding:0;
    
  
    
    
}

/*.heading-container {

    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
   font-family: 'lato',sans-serif;
  }
  */
  .navbar-container {
    display:flex;
    list-style-type: none;
    
     
  
  }

  li a {
    display: flex;
    justify-content: center;
    color: white;
    background-color:blue;
    width: 322px;

    padding: 20px 10px;
    text-decoration: none;
  /*  margin-right: 5px;*/
  
  }
  
  li a:hover {
    background-color:black;
  }